/*scrolls*/
::-webkit-scrollbar {width:6px!important; height:6px!important; background-color:#f5f5f5;}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,.2);}
::-webkit-scrollbar-track {background-color:rgba(255, 255, 255, 0.08);}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #27292d;
  height: 100vh;
  overflow: hidden;
  .header {
    width: 100%;
    border-bottom: 1px solid #323336;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #d1d1d2;
    h1 {
      color: #d1d1d2;
    }
    a {
      cursor: pointer;
      padding: 5px 10px;
      background: #2f3236;
      color: #d1d1d2;
      font-size: 15px;
      border-radius: 6px;
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    .conversation__area {
      border-right: 1px solid #323336;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 340px;
      .separator {
        width: 100%;
        height: 10px;
        background-color: #2F3236;
        margin-bottom: 8px;
      }
      h3 {
        color: #d1d1d2;
        font-size: 20px;
        padding: 10px 20px;
        margin: 0;
      }
    }
    .chat__area {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scrollbar-width: thin;
      flex-grow: 1;
      &_main {
        flex-grow: 1;
        padding: 15px 0 55px 0;
      }
      &_footer {
        display: flex;
        border-top: 1px solid #323336;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        background-color: #27292d;
        position: sticky;
        bottom: 0;
        left: 0;
        input {
          border: none;
          color: #d1d1d2;
          background-color: #2f3236;
          padding: 12px;
          border-radius: 6px;
          font-size: 15px;
          margin: 0 12px;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.btn {
  height: 47px;
  cursor: pointer;
  padding: 5px 10px;
  background: #2f3236;
  color: #d1d1d2;
  border: none;
  font-size: 13px;
  border-radius: 6px;
}

