/*scrolls*/
::-webkit-scrollbar {width:6px!important; height:6px!important; background-color:#f5f5f5;}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,.2);}
::-webkit-scrollbar-track {background-color:rgba(255, 255, 255, 0.08);}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #27292d;
  height: 100vh;
  overflow: hidden;
  .header {
    width: 100%;
    border-bottom: 1px solid #323336;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    h1 {
      color: #fefefe;
    }
    .typers {
      color: #fefefe;
    }
    a {
      cursor: pointer;
      padding: 5px 15px;
      background: #182533;
      color: #fefefe;
      border: 0;
      font-size: 17px;
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    .conversation__area {
      border-right: 1px solid #323336;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 340px;
    }
    .chat__area {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      scrollbar-width: thin;
      flex-grow: 1;
      &_main {
        flex-grow: 1;
        padding: 15px 0 55px 0;
      }
      &_footer {
        display: flex;
        border-top: 1px solid #323336;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        background-color: #27292d;
        position: sticky;
        bottom: 0;
        left: 0;
        svg {
          color: #7c7e80;
          width: 20px;
          flex-shrink: 0;
          cursor: pointer;
        }
        input {
          border: none;
          color: #d1d1d2;
          background-color: #2f3236;
          padding: 12px;
          border-radius: 6px;
          font-size: 15px;
          margin: 0 12px;
          width: 100%;
        }
        .btn {
          width: 80px;
          height: 47px;
          cursor: pointer;
          padding: 5px 10px;
          background: #2f3236;
          color: #d1d1d2;
          border: none;
          font-size: 13px;
          border-radius: 6px;
        }
      }
    }
  }
}
.chat__container {
  width: 100%;
  max-height: 600px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
}

.chat__header {
  background: #17212B;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #fefefe;
  }
  .typers {
    color: #fefefe;
  }
  a {
    cursor: pointer;
    padding: 5px 15px;
    background: #182533;
    color: #fefefe;
    border: 0;
    font-size: 17px;
  }
}

.chat__main {
  display: grid;
  grid-template-columns: 300px 3fr;
}

.chat__sidebar {
  background: #17212B;
  color: #fff;
  padding: 20px 20px 60px;
  overflow: hidden;
  h3 {
    font-size: 20px;
    color: #fefefe;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 8px 0;
      font-size: 18px;
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }

}
.chat__messages {
  padding: 30px;
  overflow-y: scroll;
  background: #0E1621;
  width: auto;
  height: auto;
  .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2A5378;
    border-radius: 5px;
    overflow-wrap: break-word;
    .meta {
      font-size: 15px;
      font-weight: bold;
      color: #fefefe;
      margin-bottom: 7px;
      span {
        margin-left: 8px;
        color: #fefefe;
        opacity: 0.6;
        font-size: 12px;
      }
    }
    p {
      color: #fefefe;
      font-size: 17px;
      letter-spacing: 2px;
    }
  }
}
.chat__form {
  display: flex;
  padding: 20px 30px;
  background-color: #17212B;
  input {
    font-size: 18px;
    padding: 5px;
    height: 40px;
    border: none;
    flex: 1;
    background: #17212B;
    color: #fefefe;
    &:focus {
      outline: none;
    }
  }
  .btn {
    cursor: pointer;
    padding: 5px 15px;
    background: #182533;
    color: #fefefe;
    border: 0;
    font-size: 17px;
  }
}
