.upload__block {
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      color: #7c7e80;
      width: 25px;
      flex-shrink: 0;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
}
.btn {
  padding: 5px 10px;
  background: transparent;
  border: none;
  font-size: 13px;
  border-radius: 6px;
  i {
    cursor: pointer;
    margin: 0 auto;
    font-size: 28px;
    color: #0086ff;
  }
}