.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  input {
    letter-spacing: 0.8px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #353535;
    border: none;
    color: #ffeeff;
  }
  button {
    font-size: 18px;
    width: 100%;
    height: 40px;
    background: #182533;
    border: none;
    &:hover {
      background: #17212B;
    }
  }
}